<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871988594353-0r4belps30bsv32tgqmbcpndas5usnld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871988594353-0r4belps30bsv32tgqmbcpndas5usnld</string>
	<key>API_KEY</key>
	<string>AIzaSyAWWRYkY-kw-Pg0E4pdHO1Nfs3M5WqJ_FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>871988594353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GBCMADS4005.GMT</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-3af27</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-3af27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871988594353:ios:32194bd9e380d357838490</string>
</dict>
</plist>